.modal-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 60rem;
    background-color: #fff;
    border-radius: 5px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.modal-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.modal-heading button {
    font-size: 1.5rem;
    background-color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-heading button:hover {
    background-color: var(--background-color);
}

.modal-body form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1p solid var(--border-color);
}



.modal-body form div {
    margin-bottom: 20px;
}

.modal-body label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-body input[type="text"],
.modal-body textarea,
.modal-body select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.submit-modal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-modal button {
    padding: 10px;
    padding-inline: 50%;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.submit-modal button:hover {
    background-color: #333;
    color: #fff;
}

.modal-heading button.active {
    border-bottom: 3px solid blue;
}

textarea {
    border: none;
}

.modal-body textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;
    width: 50rem;
}